.Card {
    padding: 15px 0;

}

.title {
    margin: 0 15px 0 0;
    font-size: 25px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

.cardTop {
    display: flex;
    align-items: center;
}

.cardTop span {
    margin-right: 15px;
    color: #504d4d;
}

.rating svg {
    margin-right: 5px;
}

.rating span {
    font-size: 15px;
    color: #504d4d;
}